body {
    padding: 0px;
    margin: 0px;
    font-family: 'Amatic SC', cursive;

    min-height: 100vh;
    background: linear-gradient(#245953, #408e91, #e49393, #d8d8d8);
}

main {
    padding: 16px;
}

.recipes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.recipe-container {
    border: 3px solid #245953;
    margin: 5px;
    text-align: center;
    background-color: gray;
}

footer {
    padding: 24px 0px 24px 20px;
    background-color: #245953;
    position: sticky;
    bottom: 0px;
}

img {
    height: 200px;
    border: 3px solid rgb(64, 142, 145);
    border-radius: 5px;
    box-shadow: 5px 5px 5px #e49393;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

a {
    text-decoration: none;
    color: #d8d8d8;
    transition: all 1s;
}

a:hover {
    color: #e49393;
}

h1 {
    color: #e49393;
}

tr:nth-child(even) {
    background-color: #d8d8d8;
}

th {
    font-weight: 900;
    border-bottom: 3px solid black;
}

.banner {
    background-image: url(./veggies.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5em;
}
